
<div class= "container"  >
  <%= link_to "New Post", new_post_path , :class=>"pull-right"%><br><hr>
  <div class="post_index">
    <% @posts.each do |post| %>
      <div class="user_image">      
        <%# if post.user.profile_pic.present? %>
          <%# image_tag post.user.profile_pic,  :class=> "nav-avatar" %> 
        <%# else %>
          <%= image_tag("man.png", :class=> "nav-avatar", :style => "width:85px;height:100px" ) %>
        <%# end %>
      </div> 
      <div class="post_details">
        <%= link_to post.title, post , :class =>"post_title" %><br>
        <div class="by"> <%= format_date(post.user.created_at) %> <%= post.user.email if post.user.present? %></div>
        <br> <%= post.content.first(220) %> ... <%= link_to ' Read More', post %> <br>
        
        
        <% if current_user == post.user %>
          <%= link_to 'Edit', edit_post_path(post) %> 
          <%= link_to 'Destroy',  post,  method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %><br><hr>
      </div>   
    <% end %>    
  </div>
  <div class="side_bar">
    <h5>Blog Entries</h5><hr>
    <% @users.each do |user| %>
      <div class="by"><%= user.email %> <div class=" date" > ..on <%= format_date(user.created_at) %></div></div><br>
    <% end %>
  </div>
</div>


<style>
  .post_index,.side_bar{    
    width:75%;
    padding: 10px ;
    float:left;
    font-weight:normal;
    background-color:#FFF8F8;
    box-shadow: 0px 0px 3px #D8D8D8;
  }
  .side_bar{  
  width:24%; 
  margin-left:10px; 
}
.post_title{
  font-family:inherit;

  font-size:16px;
}
 a:hover{
 font-weight:bold;
 text-decoration:none;
}
.user_image, .post_details{
  float:left;
  width:20%;
  padding:10px;
}
.post_details{
  width:80%;
  padding:10px 50px 10px 10px;
}

.by{
font-style: italic;
color: #666666;
font-size: 12px;
}
.date{
float:right;
}
</style>
